.text-right {
    text-align: right;
}
.notification-card-details {
    /* border: 1px solid #edeeef; */
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    margin-left: -7px;
    margin-right: -7px;
}

.main-card {
    border: 1px solid #edeeef;
    border-radius: 5px;
    background-color: #f3f3f3;
}
.card-details {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
    height: 90px; 
    margin: 0 7px;
    
}

.version-list li{
    padding: 15px;
    border: 1px solid #edeeef;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffffff; 
    position: relative;
}


.text-center {
    text-align: center;
}
.mt-10 {
    margin-bottom: 10px;
}

.tab-sub-content {
    font-size: 14px;
    color: #657d95;
    font-weight: 500;
}
.tab-count {
    font-size: 26px;
    font-weight: 700;
    color: #657d95;
}
.tab-current {
    border-bottom: #72bb53 7px solid;
}
.tab-due-soon {
    border-bottom: #ffb253 7px solid;
}
.tab-due-past {
    border-bottom: #ff3823 7px solid;
}

.contract-card-title {
    font-size: 18px;
    font-weight: 500;
    color: #434b52;
    margin-bottom: 5px;
}

.ul-tab .tab-active {
    background-color: #0687eb;
    color: white;
    border-radius: 25px;
}