:host {
    --sds-c-card-color-background: #f3f3f3;
}
.notification-card-details {
    /* border: 1px solid #edeeef; */
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    margin-left: -7px;
    margin-right: -7px;
}

.main-card {
    border: 1px solid #edeeef;
    border-radius: 5px;
    background-color: #f3f3f3;
}
.card-details {
    padding: 10px 15px;
    border-radius: 6px;
    border:1px solid #EFEDEF;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
    height: 90px; 
    margin: 0 7px; 
    box-shadow: 1px 8px 5px rgb(197, 207, 210);
}


.version-list{
    /* background-color: #ecf0f2;  */
}
.version-list li{
    padding: 15px;
    border: 1px solid #edeeef;
    border-radius: 5px;
    margin: 10px;
    background-color: #ffffff; 
    position: relative;
}

.text-center {
    text-align: center;
}

.tab-sub-content {
    font-size: 14px;
    color: #657d95;
    font-weight: 500;
}

.tab-count {
    font-size: 26px;
    font-weight: 700;
    color: #657d95;
}

.tab-count:hover{
    color:#f3f3f3; 
}
.tab-overdue {
    border-bottom: #ff3823 7px solid;
}
.tab-open {
    border-bottom: #0176D3 7px solid;
}
.tab-incomplete {
    border-bottom: #F6B609 7px solid;
}
.tab-complete {
    border-bottom: #72bb53 7px solid;
}

.contract-card-title {
    font-size: 18px;
    font-weight: 500;
    color: #434b52;
    margin-bottom: 5px;
}

.back-button {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 50% !important;
    background: #4dd7fa;
}

.training-active{
    color:#368417;
    float:right;
}
.training-label-title {
    font-size: 18px;
    font-weight: 500;
    color: #434b52;
}
